html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(fatec.jpg) no-repeat;
    background-size: absolute;
    background-position: left;
    font-family: sans-serif;
    height: auto;
}

.login-box {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
}

.login1-box {
    width: 500px;
    height: 240px;
    background: rgba(white, 0.5);
    color: #fff;
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
}

.mini-box {
    width: 195px;
    height: 40px;
    background: rgba(black, 0.5);
    color: #fff;
    top: 5%;
    left: 96%;
    position: absolute;
    transform: translate(-75%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.slog-box {
    width: 100%;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 5%;
    left: 66%;
    position: absolute;
    transform: translate(-66%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="reset"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box input[type="reset"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    color: #39dc79;
}

#btninicio {
    margin-left: 1cm;
    padding-top: 1cm;
}

.title {
    border-radius: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 40% !important;
    height: 10%;
    background-color: #fff !important;
    color: black !important;
}

.message {
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 60%;
    height: 50%;
}

.div-btn {
    padding-top: 30px;
    margin: auto;
}

.div-btn input {
    width: 200px;
}